@use '../video-insert-modal/video-insert-modal.component.scss';

.preview-section {
  .image-preview {
    img {
      max-width: 100%;
      max-height: 200px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .caption {
      margin-top: 8px;
      font-style: italic;
      color: #64748b;
      text-align: center;
    }
  }
} 